/*Text Handling*/
body {
  margin: 0px;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #4C617F;
}
p {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #4C617F;
  line-height: 1.8em;
}
h1 {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #174082;
  font-weight: 700;
}
h2 {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #fff;
  font-weight: 700;
  text-shadow: 0px 3px 6px rgba(0,0,0,0.15);
  font-size: 2.1em;
}
h3 {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #174082;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7em;
}
/*Image Handling*/
.imageSmall {
  max-width: 333px;
  padding-top: 20px;
  display: block;
}
/*Logo & Navigation*/
#header .container {
  margin-top: 8px;
  margin-bottom: 8px;
}
#fullLogo {
  width: 250px;
}
/*Hero Header*/
#hero {
  background-image: url("images/Hero_Image.png");
  background-size: cover;
  height: 600px;
}
#hero h2{
  margin-top: 6em;
  margin-bottom: 1.5em;
}
/*Buttons*/
span.button {
  background-color: #174082;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 0.8em;
  display: inline-block;
}
span.button.callAction {
  background-color: #174082;
  border-top: 4px solid #FFC408;
}
/*Recent Flights Section*/
.flightTime {
  margin: 0px;
}
.flightRoute {
  color: #174082;
  font-weight: 700;
  margin: 0px;
}
#flightInfo {
  background-color: #EDEFF2;
  padding: 10px;
  box-sizing: border-box;
}
/*Footer*/
footer {
  background-color: #4C617F;
}
/*"Discount Bootstrap" Responsive Grid Default (Desktop)*/
.container {
  max-width: 1000px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col12 {
  width: 100%;
  margin-bottom: 2em;
}
.col8 {
  width: 66.67%;
  margin-bottom: 2em;
}
.col4 {
  width: 33.33%;
  margin-bottom: 2em;
}
/*Media Queries for Responsive Grid*/
@media only screen and (max-width: 750px) {
  .container {
    padding: 10pt;
    box-sizing: border-box;
  }
  .col8 {
    width: 100%;
  }
  .col4 {
    width: 100%;
  }
  span.button {
    margin: auto;
    display: block;
    width: 90px;
  }
  .imageSmall {
    margin: auto;
  }
}
@media only screen and (min-width: 750px) and (max-width: 992px) {
  .container {
    padding: 10pt;
    box-sizing: border-box;
  }
}
